# Code owners for this repository.
# Every file in the repo is owned by @jaminator unless overridden below.
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @jaminator
